// Header
header {
    
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    

    h1 {
        margin: em(2) 0 em(6);
        text-align: center;
    }
    a {
        text-decoration: none;
    }

    .logo {
        width: 120px;
        padding-top: 15px;
    }
    @include mq($tablet){
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: em(12);
        h1 {
            margin: 0;
            text-align: left;
        }
    }

    @include mq($desktopWide){
        padding-left: 3rem;
        width: 100%;
        .logo {
            width: 110px;
            padding-top: 15px;
        }
        // margin: em(20);
        h1 {
            font-size: em(48);
        }
    }

}