button.fav-btn{
    position: absolute;
            width: 35px;
            top: 20px;
            right: 15px;
            background-color: rgba($color: #000000, $alpha: 0);
            border: none;
            border-radius: 50%;
}
.popup{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        position: relative;
        width: 100%;
        max-width: 560px;
        background-color: whitesmoke;
        button{
            position: absolute;
            top: 0;
            right: 0;
        &:hover{
            background-color: $bgcolor;
            color: $textColor;
            font-weight: bolder ;
        }
    }}
    
}