.about-page,
.favs-page {
    padding: em(20);
}

.single-movie-header{
    background-color: rgb(20, 20, 20);
    
    h2{
        margin-top: 20px;
        font-size: 2rem;
    }
    .movie-info{
        padding: 40px 40px 0 10px;
        
    }
    .movie-poster{
        max-width: 300px;
        margin: auto ;
        padding-top: 30px;
    }
    .overview{
        padding-top: 30px;
    }
    .stats{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    ul{
        display: flex;
        list-style-type: none;
        align-items: center;


        li{
            margin: 15px 15px 0 15px;

            &.star{
                text-align: center;
                font-weight: bolder;
                div:first-child{
                    font-size: 2rem;
                }
            }
            &:last-child{
                min-width: 105px;
                display: flex;
                padding: 2px 5px;
                border: solid 1px $textColor ;
                border-radius: 10px;
                align-items: center;
                p{
                    margin: 0;
                }
                img{
                    display: inline-block;
                    width: 20px;
                    margin-left: 5px;
                }
            }
            
            .trailer-btn{
                align-items: center;
                border: 1px solid #cccbcb;
                border-radius: .375em;
                box-shadow: none;
                box-sizing: border-box;
                color: #ffffff;
                cursor: pointer;
                display: inline-flex;
                font-size: .75rem;
                background-color: rgba($color: #000000, $alpha: 0.1);
                justify-content: center;
                line-height: 1.5;
                text-align: center;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                vertical-align: top;
                white-space: nowrap;
                .triangle{
                    width: 0;
	                height: 0;
	                border-top: 5px solid transparent;
	                border-left: 10px solid whitesmoke;
	                border-bottom: 5px solid transparent;
                    margin-right: 2px;
                }
            }
        }
    }
}
@media(min-width: em(800)){
    .single-movie-header{
        display: flex;
        .movie-poster{
            
            margin: 30px;
           
        }
    }
}
.tags{
    display: flex;
    justify-content: center;
    embed{
        width: 25px;
        margin-right: 10px;
        height: auto;
    }
    .tag{
        color:whitesmoke;
        background-color: $bgcolor;
        border: solid 2px whitesmoke;
        border-radius: 10px;
        padding: 0.1em 0.25em;
        margin-right: 0.25em;
    }
}
.cast-box{
    position: relative;
}
.casts{
    display: flex;
    overflow-x: scroll;
    position: relative;
    

    
    .cast-card{
        min-width: 150px;
        background-color: rgb(66, 66, 66);
        border-radius: 15px;
        overflow: hidden;
        margin:10px;
        max-height: 270px;
        h3{
            margin-bottom: 5px;
            text-align: center;
        }
        p{
            text-align: center;
        }
        
        
    }
}
#top-cast{
    text-align: start;
    margin: 30px;
}

